.box {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 500px;
  border-radius: 20px;
  background-color: pink;
  overflow: hidden;
  transition: opacity .5s;
}

.box-hd {
  height: 55px;
  line-height: 55px;
  background-color: rgb(21, 155, 208);
  color: #fff;
  padding: 0 15px;
  user-select: none;
}

.box-hd .icon {
  text-decoration: none;
}

.box-hd .close {
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.box-panel {
  height: 300px;
}