.list-item {
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.list-item a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.list-item-img {
  float: left;
  height: 100%;
}

.list-item-img img {
  height: 100%;
}

.list-item-content {
  height: 100%;
  padding-left: 80px;
  color: #333;
}